.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.btn-wrapper button {
  background-color: rgb(236, 39, 13);
  border: 0px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}

.img-wrapper img {
  width: 70px;
  margin-top: -10px;
}

.cart-wrapper {
  height: 165px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}

.item {
  display: inline-block;
  width: 130px;
  height: 80px;
  padding: 15px;
}

.text-wrapper {
  font-weight: bold;
}
.add-to-cart img {
  width: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
